.dropright {
    padding-left: 50px;
}
.form-group {
    padding: 0px 25px;
}
.list-group {
    margin-bottom: 15px;
  }
.list-group-item:hover {
    background: #EEE;
    cursor: pointer
   }
.selected {
    background-color: lightblue;
  }
.correct {
    background-color: lightgreen;
  }
.incorrect {
    background-color: red;
}